Assembly-CSharp.csproj
*.sln
*.csproj
.vs/
*.meta
*.asmdef
*.bin
*.dll
*.pdb
*.cache
obj/
Library/metadata/
com.unity.render-pipelines.core@5.7.2/
com.unity.render-pipelines.lightweight@5.7.2/
Library/
Logs/
ProjectSettings/
Assets/Scenes/SampleScene.unity
